/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */

body{
    background-color: rgb(250, 250, 250);
    color: rgb(36, 36, 36);
    font-family: poppins, sans-serif;
    font-weight: 300;
    font-style: normal;
}
h1{
    background-color: rgb(238, 141, 52);
    color: rgb(250, 250, 250);
    font-size: 2em;
    padding: 1em .5em .1em;
    font-family: sutro, serif;
    font-weight: 700;
    font-style: normal;
}
h2{
    background-color: rgb(238, 141, 52);
    color: rgb(249, 222, 191);
    font-size: 1.5em;
    padding: .5em 2em 1em .5em;
    font-family: sutro, serif;
    font-weight: 300;
    font-style: normal;
}
img {
    width: 100%; /*Please leave this line.*/
     display: block;
}
figcaption{
    background-color: rgb(250, 250, 250);
    color: rgb(36, 36, 36);
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: italic;
    padding: 1em .5em .5em 1em;
}
h3{
    font-size: 1.25em;
    color: rgb(238, 141, 52);
    font-family: Sutro, serif;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
    padding: 1.5em .5em .5em .5em;
}
ul{
    list-style-type: disc;
    padding: 0em 1.75em 0em 1.5em;
    line-height: 2.5em;
}
ol{
    list-style-type: decimal;
    padding: 0em 1.75em 2em 1.5em;
    line-height: 1.5em;
}
li{
    margin-bottom: .5em;
}
footer{
    background-color: rgb(238, 141, 52);
    color: rgb(250, 250, 250);
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: .75em;
}



/*By the way, when we use the slash-asterisk combo, it’s a comment on the CSS and it’s meant for human beings. The machine knows it is not supposed to process anything until it finds a asterisk-slash combo that ends the comment on the CSS. */
